/* Home */

.home__content {
    grid-template-columns: 50px repeat(1, 1fr);
    align-items: center;
}

.home__img {
    background: url(../../assets/eatout-s.png);
    justify-self: center;
    width: 600px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* socila */

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.5rem;
    color: var(--title-color);
    transition: .3s;
}

.home__social-icon:hover {
    color: var(--hover-color);
}


/* Search box */
.home__search {
    display: flex;
    flex-direction: column;
    align-items: center;

}
  .group {
    width: 100%;
    height: 110px;
    overflow: hidden;
    position: relative;
  }
  
  label {
    position: absolute;
    top: 36.6666666667px;
    color: var(--title-color);
    cursor: text;
    transition: 0.25s ease;
  }
  
  .input-search{
    display: block;
    width: 100%;
    padding-top: 25px;
    border: none;
    border-radius: 0;
    color: var(--title-color);
    background: var(--body-color);
    font-size: 36.6666666667px;
    transition: 0.3s ease;
  }
.input-search:valid ~ label {
    top: 0;
    font: 700 22px;
    color: rgba(255, 255, 255, 0.5);
  }
.input-search:focus {
    outline: none;
  }
.input-search:focus ~ label {
    top: 0;
    font: 700 22px;
    color: var(--hover-color);
  }
.input-search:focus ~ .bar:before {
    transform: translateX(0);
  }
  
  .bar {
    background: var(--title-color);
    content: "";
    width: 550px;
    height: 2px;
    transition: 0.3s ease;
    position: relative;
  }
  .bar:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 150%;
    background: var(--hover-color);
    transform: translateX(-100%);
  }

  .button-i {
    margin-top: 2rem;
  }