.home {
    height: 100vh;
    display: flex;
}

.home__content {
    grid-template-columns: 100px repeat(1, 1fr);
    align-items: center;
    justify-content: center;
}

.home__img {
    background: url(../../assets/eatout.png);
    justify-self: center;
    width: 500px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}